<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src=<%= product.img_url %> size=5x5 alt="Description">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p> <div id="<%= dom_id product %>"></p>
            <p><%= product.name %></p>
          </div>
        </div>

        <div class="content">
          <p> <strong>Precio:</strong>  <%= product.price %> </p>
        </div>
      </div>
    </div>
  </div>
</div>



        
        
    
       
